In [51]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
%matplotlib inline

import re
import datetime
from datetime import date
from time import strptime

from sklearn.metrics.pairwise import cosine_similarity

In [52]:
resume = pd.read_csv('con_resume_new.csv')
resume

,index,Resume_title,City,location,Description,work_experiences,Educations,Skills,Links,Certificates,...,vec_11,vec_12,vec_13,vec_14,vec_15,vec_16,vec_17,vec_18,vec_19,vec_20
0,0,java developer,Tirur,17,"to prove myself dedicated, worthy and energeti...","{0: [{'wtitle:': 'java developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Bachelor of C...","['java (less than 1 year)', ' jsp (less than 1...",['https://www.linkedin.com/in/mohamed-rihan-k-...,"{0: [{'c_title:': 'Java Developer'}, {'c_durat...",...,0.627632,0.089689,-0.111594,1.014081,-0.707130,2.206325,1.291158,-2.374027,-2.633807,0.261690
1,1,software developer,Bengaluru,16,working as software developer at ingroinfo sof...,"{0: [{'wtitle:': 'java developer'}, {'wcompany...",{0: [{'e_title:': 'MCA in Master of Computer A...,"['programming languages: core java', ' j2ee \n...","['http://github.com/NK-PATEL/Train_Project', '...",{},...,1.298089,-1.820087,0.641809,1.595022,0.220402,2.217785,1.296798,-3.018250,-0.151164,0.136133
2,2,java developer,Pune,20,looking for a challenging career which demands...,"{0: [{'wtitle:': 'java developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Electrical En...","['eclipse (1 year)', ' hibernate', ' spring (l...",[],{},...,0.384623,-0.568103,0.826093,2.393889,-1.064451,1.030747,0.353574,-3.061998,-0.833136,-0.068226
3,3,seeking innovative and challenging career assi...,Pune,20,,"{0: [{'wtitle:': 'java developer'}, {'wcompany...","{0: [{'e_title:': 'BE in Computer'}, {'e_schoo...","['git', ' angular 7', ' maven', ' java', ' jen...",[],{},...,0.417915,0.095836,1.848977,3.456673,0.356767,0.857549,0.558279,-1.897944,1.307907,0.257135
4,4,java developer,Pune,20,,"{0: [{'wtitle:': 'java developer'}, {'wcompany...",{0: [{'e_title:': 'Bachelor of Engineering in ...,['project: hr payroll systems role: java devel...,[],{},...,0.623490,0.386077,0.589289,0.850651,0.208881,0.040734,0.398515,-1.063902,0.791835,-0.788968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14793,14793,back office operations & hr coordinator,Calicut,17,management professional seeking a full-time po...,{0: [{'wtitle:': 'project administration & pay...,"{0: [{'e_title:': 'MBA in MARKETING & HR'}, {'...","['ms office (9 years)', ' aconex project manag...",['http://www.linkedin.com/in/akhil-ravi-1512b6...,{0: [{'c_title:': 'ISO 9001:2018 QMS INTERNAL ...,...,-1.225228,0.623468,1.519127,-2.141248,-0.015091,-1.274672,0.954937,-0.933894,-2.146171,-1.138999
14794,14794,accountant,NONE,1,,"{0: [{'wtitle:': 'accountant'}, {'wcompany:': ...","{0: [{'e_title:': 'B.COM'}, {'e_schoolname:': ...",['none'],[],{},...,1.618273,-0.817635,3.292342,2.645989,0.444203,0.639092,4.602364,1.241786,0.226669,-3.638067
14795,14795,administrative works,Durgapur,33,to be potential resource to the organization w...,"{0: [{'wtitle:': 'administrative works'}, {'wc...","{0: [{'e_title:': 'CERTIFICATE'}, {'e_schoolna...","['accounting', ' erp', ' tally', ' payroll', '...",[],{},...,0.545458,0.436615,1.616948,-0.838634,0.594995,-1.302586,1.629356,-1.063577,-4.029328,-1.916744
14796,14796,assistant manger,NONE,1,a finance professional with close to 6 years o...,"{0: [{'wtitle:': 'assistant manger'}, {'wcompa...",{0: [{'e_title:': 'Bachelor of Commerce in Com...,"['erp (2 years)', ' tally (5 years)', ' ms off...",[],{},...,0.844700,0.081582,3.462111,2.944820,1.252886,-0.107691,3.416371,-0.163835,0.789498,-2.659943
14797,14797,commercial officer,Howrah,33,age: 32 years \ngender: male \nfunctional area...,"{0: [{'wtitle:': 'commercial officer'}, {'wcom...","{0: [{'e_title:': 'B.Com in Accountancy'}, {'e...","['accounting', ' ecommerce', ' management acco...",[],{},...,0.305912,-0.524823,1.410033,-1.077668,-0.468093,0.250036,0.266370,1.597211,-2.408836,-2.647079

In [53]:
job = pd.read_csv('con_job_new.csv')

In [54]:
def resume_recommender(job) :
    
    
    matched_resumes = pd.DataFrame(columns = ["index","Resume_title","description","work_experiences","similarity"] )
    
    job= job.to_numpy()
    job= job.reshape(1, -1)
    # job_m.to_numpy()
    #Go through ALL the related jobs
    for i,j in enumerate(resume_m) :
        # print(f'rd is {rd}')        
        #Find the similarity of the jobs with resume
        rs = j
        rd=i
        # print(rd)
        # jobs = jobs.to_numpy()
        rs = rs.reshape(1, -1)

        similarity = cosine_similarity(job,rs)
        # print(123)
        #print(f'similarity is {similarity}')
        matched_resumes.loc[len(matched_resumes)] = [rd,
                                               related_resumes[rd][1],
                                               related_resumes[rd][4],
                                               related_resumes[rd][5],
                                               similarity[0][0]]
        
    return matched_resumes.sort_values(by=['similarity'],ascending=False)[1:].iloc[:, :-1]

In [55]:
x=84
columns = ['vec_' + str(i) for i in range(1, 21)]

# Extract columns from row 13 (label 12)
job_vector=job.loc[x, columns]
job_title=job.loc[x,'jobtitle']
job_vector=job.values
job_title

'java developers'

In [57]:
job_m = job[['j_id','experience_range','is_grad','is_postgrad','is_doc','vec_1','vec_2','vec_3','vec_4','vec_5','vec_6','vec_7','vec_8','vec_9','vec_10','vec_11','vec_12',
              'vec_13','vec_14','vec_15','vec_16','vec_17','vec_18','vec_19','vec_20']]

In [58]:
unique_title = resume['Resume_title'].unique().tolist()
unique_title.sort()
from fuzzywuzzy import process, fuzz
title_score_sort = [(job_title,) + i 
             for i in process.extract(job_title, unique_title, scorer=fuzz.token_sort_ratio,limit=10)]
#Create a dataframe from the tuples
title_similarity_sort = pd.DataFrame(title_score_sort, columns=['title_orinigal','title_checked','title_score_sort'])

titles_to_check = title_similarity_sort['title_checked'].str.lower().unique()
filtered_resume = resume[resume['Resume_title'].str.lower().isin(titles_to_check)]

In [59]:
columns = ['vec_' + str(i) for i in range(1, 21)]
filtered_vectors = filtered_resume.loc[:, columns]

In [60]:
related_resumes = filtered_resume
resume_m = related_resumes[['index','experience_range','is_grad','is_postgrad','is_doc','vec_1','vec_2','vec_3','vec_4','vec_5','vec_6','vec_7','vec_8','vec_9','vec_10','vec_11','vec_12',
              'vec_13','vec_14','vec_15','vec_16','vec_17','vec_18','vec_19','vec_20']]
resume_m=resume_m.to_numpy()
resume_m
related_resumes=related_resumes.to_numpy()
related_resumes[0][0]

0

In [61]:
j1= job_m.loc[1]
j1

j_id                1.000000
experience_range    0.000000
is_grad             1.000000
is_postgrad         0.000000
is_doc              0.000000
vec_1              -0.484748
vec_2              -0.672265
vec_3              -0.824525
vec_4              -0.157362
vec_5              -1.571597
vec_6              -0.736670
vec_7               1.144663
vec_8              -0.111634
vec_9               0.470399
vec_10             -1.810356
vec_11              1.023440
vec_12              0.556976
vec_13              0.661699
vec_14              0.235638
vec_15              0.235051
vec_16              2.430964
vec_17              1.521506
vec_18              0.822595
vec_19             -1.298376
vec_20             -2.209948
Name: 1, dtype: float64

In [62]:
matched_resumes = resume_recommender(j1)

In [63]:
display(matched_resumes.head(10))

,index,Resume_title,description,work_experiences
1,1,java developer,looking for a challenging career which demands...,"{0: [{'wtitle:': 'java developer'}, {'wcompany..."
13,13,java developer,teamwork goal oriented interpersonal skills am...,"{0: [{'wtitle:': 'java developer'}, {'wcompany..."
2,2,java developer,,"{0: [{'wtitle:': 'java developer'}, {'wcompany..."
5,5,java developer,attain the position of 'java developer' in fas...,"{0: [{'wtitle:': 'java developer'}, {'wcompany..."
7,7,java developer,â€¢ knowledgeable with core java implementatio...,"{0: [{'wtitle:': 'java developer'}, {'wcompany..."
19,19,java developer,,"{0: [{'wtitle:': 'java developer'}, {'wcompany..."
16,16,java developer,,"{0: [{'wtitle:': 'java developer'}, {'wcompany..."
17,17,java developer,my recent objective is to work with the compan...,"{0: [{'wtitle:': 'java developer,angular devel..."
11,11,java developer,,"{0: [{'wtitle:': 'java developer'}, {'wcompany..."
0,0,java developer,"to prove myself dedicated, worthy and energeti...","{0: [{'wtitle:': 'java developer'}, {'wcompany..."